.main {
  height: 100%;
  background-repeat: no-repeat;
  transition: background-image 0.5s;
  .portfolio-section-bg {
    position: relative; 
    .porfolio-section-wrapper {
      width: 85%;
      margin: auto;
      display: flex;
      gap: 30px;
      padding: 50px 0;

      .porfolio-section-list {
        width: 20%;
        z-index: 2;
      }

      .porfolio-section-detail {
        width: 76%;
        z-index: 2;
      }

      .user-profile-detail-navbar-mobile {
        position: sticky;
        right: 0;
        bottom: 0;
        border: 1px solid rgba(128, 0, 0, 0.11);
        background: rgb(23 134 238 / 75%);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
        border-radius: 0px 14px;
        margin: 0 -20px;
        display: none;

        .user-profile-detail-nav-links {
          display: flex;
          gap: 22px;
          list-style: none;
          padding-right: 3rem;

          li {
            a {
              text-decoration: none;
              color: #ffffff;

              &:focus {
                color: #0675eb;
              }

              &.active {
                color: #3e3b3b;
              }
            }
          }
        }
      }
    }
  }
}


.user-profile-detail-navbar {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid rgba(128, 0, 0, 0.11);
  border-bottom-left-radius: 20px;
  background: rgba(23, 134, 238, 0.5);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 0px 14px;

  .user-profile-detail-nav-links {
    display: flex;
    gap: 22px;
    list-style: none;
    padding-right: 3rem;

    li {
      a {
        text-decoration: none;
        color: #ffffff;

        &:focus {
          color: #0675eb;
        }

        &.active {
          color: #3e3b3b;
        }
      }
    }
  }
}

@media (max-width: 1720px) {
  .porfolio-section-wrapper {
    width: 90% !important;

    .porfolio-section-list {
      width: 22% !important;
    }
  }
}

@media (max-width:700px) {
  .user-profile-detail-navbar-mobile {
    display: block !important;
    background: #0675EB !important;
  }
}


@media (max-width:1200px) {
.porfolio-section-wrapper{
  width: 95% !important;
  .porfolio-section-list{
    width: 25% !important;
  }
  .porfolio-section-detail{
    width: 73% !important;
  }
}
}
