.main {
  height: 100%;
  background-repeat: no-repeat;
  transition: background-image 0.5s;
  .portfolio-section-bg {
    position: relative; 
    .porfolio-section-wrapper {
      width: 85%;
      margin: auto;
      display: flex;
      gap: 30px;
      padding: 50px 0;

      .porfolio-section-list {
        width: 20%;
        z-index: 2;
      }

      .porfolio-section-detail {
        width: 76%;
        z-index: 2;
      }

      .user-profile-detail-navbar-mobile {
        position: sticky;
        right: 0;
        bottom: 0;
        border: 1px solid rgba(128, 0, 0, 0.11);
        background: rgb(23 134 238 / 75%);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
        border-radius: 0px 14px;
        margin: 0 -20px;
        display: none;

        .user-profile-detail-nav-links {
          display: flex;
          gap: 22px;
          list-style: none;
          padding-right: 3rem;

          li {
            a {
              text-decoration: none;
              color: #ffffff;

              &:focus {
                color: #0675eb;
              }

              &.active {
                color: #3e3b3b;
              }
            }
          }
        }
      }
    }
  }
}

.shapes{
  overflow: hidden;
  .circles{
    position: absolute;
    display: block;
    border-radius: 50%;
    background: linear-gradient(136.53deg, #0675EB 15.33%, #3DADF5 84.91%);
    box-shadow: 0px 0px 20px 1px rgba(128, 0, 0, 0.17);
    transition: 2.4s;
    // z-index: 999;
    &#circle1{
      left: 25%;
      width: 80px;
      bottom: 42%;
      height: 80px;
    }
    &#circle2{
      left: 1%;
      width: 180px;
      height: 180px;
      bottom: 17%;
    }
    &#circle3{
      left: 70%;
      width: 120px;
      height: 120px;
      bottom: 42%;
    }
    &#circle4{
      left: 20%;
      width: 160px;
      height: 160px;
      bottom: 78%;
    }
    &#circle5{
      left: 57%;
      width: 140px;
      height: 140px;
      bottom: 66%;
    }
    &#circle6{
      left: 68%;
      width: 240px;
      height: 240px;
      bottom: 5%;
    }
    &#circle7{
      width: 150px;
      height: 150px;
      left: 87%;
      bottom: 62%;
    }
    &#circle8{
      left: 50%;
      width: 125px;
      bottom: 42%;
      height: 125px;
    }
  }
}

.user-profile-detail-navbar {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid rgba(128, 0, 0, 0.11);
  border-bottom-left-radius: 20px;
  background: rgba(23, 134, 238, 0.5);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 0px 14px;

  .user-profile-detail-nav-links {
    display: flex;
    gap: 22px;
    list-style: none;
    padding-right: 3rem;

    li {
      a {
        text-decoration: none;
        color: #ffffff;

        &:focus {
          color: #0675eb;
        }

        &.active {
          color: #3e3b3b;
        }
      }
    }
  }
}

@media (max-width: 1720px) {
  .porfolio-section-wrapper {
    width: 90% !important;

    .porfolio-section-list {
      width: 22% !important;
    }
  }
}

@media (max-width:700px) {
  .user-profile-detail-navbar-mobile {
    display: block !important;
    background: #0675EB !important;
  }
  .shapes{
    display: none;
  }
}


@media (max-width:1200px) {
.porfolio-section-wrapper{
  width: 95% !important;
  .porfolio-section-list{
    width: 25% !important;
  }
  .porfolio-section-detail{
    width: 73% !important;
  }
}
}
